node_modules/
.expo/
dist/
web-build/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store

# Netlify
.netlify

# macOS
.DS_Store

# iOS
ios/Pods/
ios/build/
*.xcworkspace
!default.xcworkspace

# Android
android/app/build/
android/build/

# Testing
coverage/

# Guías personales (no para git)
GUIA_CONCEPTOS_AVANZADOS.md
